h1 { 
    /*Section titles*/
    font-size: clamp(3rem, 5vw, 4rem);
}
h2 { 
    /*Section subtitles*/
    font-size: clamp(1.4rem, 1.5vw, 2.5rem);
}
h3 { 
    /*eCard titles*/
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
h4 { 
    /*Upcoming card text*/
    font-size: "clamp(1rem, 10vw, 9rem)";
}
p { 
    /*Past card text*/
    font-size: clamp(0.6rem, 1.5vw, 1.5rem);
}
.heroText { 
    /*Past card text*/
    font-size: clamp(2rem, 6vw, 8rem);
}
body.events-page {
        background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7),
        rgb(0, 0, 0, 0.95)
      ),
      url("/MQF photos/this.JPG") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.mainE events-page {
    min-height: 100vh;
    color: #e0e0e0;
}
.events .container {
    max-width: 75%;
    margin: 0 auto;
    padding: 0 20px;
}
.heroE {
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroText {
    /*position: sticky;*/
    top: 50%;
    color: white;
    animation: fadeInUp 1.2s ease-out both;
    /*font-size: clamp(3rem, 10vw, 8rem);*/
    align-self: centre;
}
.heroE:hover {
    transform: scale(1.1); 
    transition: transform 0.7s ease-in-out ;  
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.pastEventsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10vh 8vw 10vw 8vw;
}
.pastSection {
    padding: 20vh 0% 6% 0%;
    color: #fff;
    text-align: center;
    h1 {color: #4af6c3;}
}
.eCard {
    position: relative;
    /*width: clamp(300px, 100%, 2000px);*/
    aspect-ratio: 1 / 1;
    background-color: #0b0a0a;
    overflow: hidden;
    border-radius: 0.5px;
    flex: 0 1 44%;
    margin: 1.2rem;
    display: flex;
    transform: perspective(2000px);
}
.eCard .image img {
    object-fit: cover;
    transition: transform 1s, opacity 0.5s;
}
.eCard:hover .image img {
    transform: translateX(5%);
}
.eCard .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: #000000;
    transform-origin: left;
    transform: perspective(5000px) rotateY(-180deg);
    transition: transform 0.2s ease-in-out;
    opacity: 0.85;
    z-index: 1;
    align-content: center;
    padding: 0% 2% 5% 4%;
}
.eCard:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.upcomingSection {
    /*padding: 2%;*/
    color: #fff;
    text-align: center;
    h1 {color: #e14d6be8;}
    h2 {padding: 0% 10%}
    h4 {line-height: 2;}
}
.upcomingGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 100px;
    padding: 10vh 2vh 0 2vh;
}
.upcomingItem {
    position: relative;
    width: 450px;
    height: 450px;
    background: #111111c6;
    place-content: center;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid #e14d6be8;
    padding: 0 5vh;
}
/* Stacked layer behind */
.upcomingItem::before {
    position: absolute;
    content: '';
    top: 0; left: 0;
    width: 100%; height: 100%;
    border: 1px solid #e14d6be8;
    box-sizing: border-box;
    transform: translate(10px, 10px);
    transition: transform 0.5s ease-in-out, border 0.5s ease-out;
}
.upcomingItem:hover::before {
    transform: translate(0, 0);
    border: hidden;
} 
.upcomingItem:hover {
    box-shadow: 6px 6px 20px -8px rgba(191, 225, 207, 0.2);
    border: hidden;
    transform: translate(10px, 10px) scale(1.1,1.1);
    transition: transform 0.4s ease-in-out;
    .upcomingContent {
        transform: translate(0, 0);
    }
}