h1 { 
    /*Section titles*/
    font-size: clamp(3rem, 5vw, 4rem);
}
h2 { 
    /*Section subtitles*/
    font-size: clamp(1.4rem, 1.5vw, 2.5rem);
}
h3 { 
    /*eCard titles*/
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
h4 { 
    /*Upcoming card text*/
    font-size: "clamp(1rem, 10vw, 9rem)";
}
p { 
    /*Past card text*/
    font-size: clamp(0.6rem, 1.5vw, 1.5rem);
}
.heroText { 
    /*Past card text*/
    font-size: clamp(2rem, 6vw, 8rem);
}
